#load{
	position:fixed;
	width:100%;
	height:100%;
	z-index:200;
	display:none;
}

.cssload-triangles {
	transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
	height: 91px;
	width: 101px;
	position: relative;
	left: 50%;
	top:20%;
	
}

.cssload-tri {
	position: absolute;
	animation: cssload-pulse 862.5ms ease-in infinite;
		-o-animation: cssload-pulse 862.5ms ease-in infinite;
		-ms-animation: cssload-pulse 862.5ms ease-in infinite;
		-webkit-animation: cssload-pulse 862.5ms ease-in infinite;
		-moz-animation: cssload-pulse 862.5ms ease-in infinite;
	border-top: 30px solid rgba(255,255,255,0.98);
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;
	border-bottom: 0px;
}
.cssload-tri.cssload-invert {
	border-top: 0px;
	border-bottom: 30px solid rgb(255,255,255);
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;
}
.cssload-tri:nth-child(1) {
	left: 34px;
}
.cssload-tri:nth-child(2) {
	left: 17px;
	top: 30px;
	animation-delay: -143.75ms;
		-o-animation-delay: -143.75ms;
		-ms-animation-delay: -143.75ms;
		-webkit-animation-delay: -143.75ms;
		-moz-animation-delay: -143.75ms;
}
.cssload-tri:nth-child(3) {
	left: 34px;
	top: 30px;
}
.cssload-tri:nth-child(4) {
	left: 51px;
	top: 30px;
	animation-delay: -718.75ms;
		-o-animation-delay: -718.75ms;
		-ms-animation-delay: -718.75ms;
		-webkit-animation-delay: -718.75ms;
		-moz-animation-delay: -718.75ms;
}
.cssload-tri:nth-child(5) {
	top: 61px;
	animation-delay: -287.5ms;
		-o-animation-delay: -287.5ms;
		-ms-animation-delay: -287.5ms;
		-webkit-animation-delay: -287.5ms;
		-moz-animation-delay: -287.5ms;
}
.cssload-tri:nth-child(6) {
	top: 61px;
	left: 17px;
	animation-delay: -287.5ms;
		-o-animation-delay: -287.5ms;
		-ms-animation-delay: -287.5ms;
		-webkit-animation-delay: -287.5ms;
		-moz-animation-delay: -287.5ms;
}
.cssload-tri:nth-child(7) {
	top: 61px;
	left: 34px;
	animation-delay: -431.25ms;
		-o-animation-delay: -431.25ms;
		-ms-animation-delay: -431.25ms;
		-webkit-animation-delay: -431.25ms;
		-moz-animation-delay: -431.25ms;
}
.cssload-tri:nth-child(8) {
	top: 61px;
	left: 51px;
	animation-delay: -575ms;
		-o-animation-delay: -575ms;
		-ms-animation-delay: -575ms;
		-webkit-animation-delay: -575ms;
		-moz-animation-delay: -575ms;
}
.cssload-tri:nth-child(9) {
	top: 61px;
	left: 68px;
	animation-delay: -575ms;
		-o-animation-delay: -575ms;
		-ms-animation-delay: -575ms;
		-webkit-animation-delay: -575ms;
		-moz-animation-delay: -575ms;
}


@keyframes cssload-pulse {
	0% {
		opacity: 1;
	}
	16.666% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-o-keyframes cssload-pulse {
	0% {
		opacity: 1;
	}
	16.666% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-ms-keyframes cssload-pulse {
	0% {
		opacity: 1;
	}
	16.666% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes cssload-pulse {
	0% {
		opacity: 1;
	}
	16.666% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes cssload-pulse {
	0% {
		opacity: 1;
	}
	16.666% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}