@media screen and  (max-width: 1280px) {
	#mgtu > h2{
		font-size:1.1em;
	}
}

*{margin:0;
padding:0;}

a{text-decoration:none; color:white;}
body{
	width:100%;
	min-width:1200px;
	height:100%;
	padding: 0 0;
	background-attachment: fixed;
}
.errors{
	position: relative;
    width: 100%;
    height: 100%;
}
header{

	position:fixed;
	width:100%;
	z-index:100;
	padding: 25px 0;
	color:white;
	background: #2b4e84 ;
	font-family: Tahoma, Arial, 'Century Gothic';
}

.one-auto{
	left: 50%;
    transform: translateX(-80%);
}

select.filter{
	width:200px;
}

#menu{
    position:absolute;
	margin-top: 5px;
	height:40px;
	padding: 6px 270px;
	background-color: black  ;
	width:110%;
	text-align: center;
	font-size: 12px;
	font-family: New Century Schoolbook, TeX Gyre Schola, serif;

}

#mgtu{
    position: relative;
    margin: 20px 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.close{
	position:absolute;
	top:0;
	right:10px;
	border:4px solid rgba(0, 0, 0, 0.08);
	padding: 0 20px;
	background:rgba(100,100,100,0.2);
	cursor:pointer;
}
.open{
	position:fixed;
	top:0;
	text-align: right;
	width: 100%;
	font-size: 15px;

	padding: 0 20px;
	background:#3e65a0;
	cursor:pointer;

}
*, *:before, *:after {
box-sizing: border-box;
}
#forma{
	position:absolute;
	top:-280px;
	right:10px;
	display:inline-block;
	border:2px solid #4169E1;
	padding: 0 20px;
	background:white;
	-webkit-transition: top 0.7s ease-out 0s;
	-moz-transition: top 0.7s ease-out 0s;
	-o-transition: top 0.7s ease-out 0s;
	transition: top 0.7s ease-out 0s;
}
#forma.active{
	top:0;
}
#forma input{
	margin-top:5px;
}
.n1{

   border-radius:8px;
   font-weight:bold;
   padding: 8px 10px;
   color: white;
   background: black;
   font-size: 12px;
   margin-left: 5px;
}
.buttons{
	cursor: pointer;
   border-radius:8px;
   font-weight:bold;
   padding: 8px 10px;
   color: white;
   background: black;
   font-size: 12px;
}
  .cancel{
	cursor:pointer;
	border-radius:8px;
	font-weight:bold;
	padding: 8px 10px;
	color: white;
	background: black;
	font-size: 12px;
}

.lp{
	width:125px;

}
#func{
	position:fixed;
	top:170px;
	left:0px;
	height:30px;
	padding:5px;
	z-index:99;
}

.add{
background: url(../images/blue_plus.png) no-repeat;
margin-top: 30px;
	}
.print,.printr{
background:  url(../images/print.png) no-repeat;
}
.word{
background:  url(../images/word.png) no-repeat;
}
#func li,.printr{
height:30px;
width:30px;
padding-left:5px;
list-style-type: none;
cursor:pointer;
background-size:contain;
}

#func ul{
height:100%;
margin-top: 30px;
}

.printr{
	display: block;
background-size:contain;
margin:0 auto;
}
.dropdown li {
	position: relative; }
.dropdown,
.dropdown-inside {
 list-style-type: none;
 padding: 0;
 cursor:pointer;
 }
.dropdown-inside {
 position: absolute;
 display:none;
 }
 .dropdown-top:hover  + .dropdown-inside {
 	display: block;
 	background-color: #1962A2;
 }
.dropdown > li > a{
	display: block;
    padding: 4px;
    color: white;
    /*font-weight: bold;*/
	text-decoration: none;
    text-align: center;
}
.dropdown  li:hover{
	background: #1962A2;}
.dropdown > li{
	height:29px;
 display: inline;
 float: left;
 padding:0 5px;
	font-size:1.1em;

 }
.dropdown li a {
 padding: 3px 10px 4px;
 display: block;
 }

.dropdown a.dropdown-top:hover {
	padding: 2px 10px 5px; }
.dropdown li:hover .dropdown-inside {
 display: block;
 background: #1962A2;
 left: 0;
 }
.dropdown-inside li{
	border-bottom:1px solid white;}
.dropdown .dropdown-inside {
	background: #2b4e84 ;
	color:white;
	border-bottom:4px solid #2b4e84 ;
	width:200px; }
.dropdown .dropdown-inside a:hover {
 background:  rgba(0,0,0,.15); }

/*.dropdown > li:last-child {
	width:150px;
	height: 10px;
	float:right;}*/
#logo{
	position:fixed;
	z-index:101;
	margin-top: 3px;
	background: url(../images/logo.png);
	width:54px;
	height:90px;
}
#wraper{
	position:relative;
	top:130px;
	width: 95%;
	margin: 0 40px;
}
#container{

	position:relative;
	width:100%;
}
.bg{
	position:absolute;
	background:white;
	width:100%;
	height:100%;
	opacity:0.6;

}
.title{
	border-bottom:1px solid white;
	width:100%;
	display:inline-block;
	text-align:center;
}
#table_title{
	color: #ffffff;
    text-transform: uppercase;
    padding: 7px 7px 7px 7px;
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 1.3em;
    background-color:#2b4e84;
}
#content{
	display:inline-block;
	width:100%;
	height:auto;
	text-align:center;
}
#content *{
	margin:0px;
}
footer{
	position:absolute;
	width:100%;
	height:50px;
	padding: 1px 0;
    background: #2b4e84;
	text-align:center;
	color: white ;


	}
input[type=submit]{

   border-radius:8px;
   font-weight:bold;
   padding: 8px 10px;
   color: white;
   background: black;
   font-size: 12px;
   margin-left: 5px;
}
#okno{
    background: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    display: none;
    z-index: 220;
    text-align: center;
}
#fff{
    padding: 10px;
    position: relative;
    background: white;
    display: inline-block;
    margin: 20px;
	margin-top:150px;
}
#fff input,select{
	margin-bottom:10px;
	width: 300px;
}
#output_table{
	font-size:0.8em;
	margin:5px auto;
	border: 1px solid black;
	border-collapse: inherit;
}
#output_table>tbody>tr>th{
	 border: 1px solid black;
	 background-color: white;
	 font-size:1.1em;
	 padding: 5px;
}
#output_table>tbody>tr>td{
	 border: 1px solid black;
	 padding: 5px;
}
#output_table>tbody>tr:hover{
	 background-color: white;
}
#output_table img{
	width:30px;
	height:30px;
	cursor:pointer;
}
.reference{
	background-color:white;
    font-size: 1.4em;
    padding: 10px;
}
.reference td{
	text-indent:5px;
}
#spr ~ table td{
	padding:5px;
}
.Attested_input{
	width: 100%;
    text-align: center;
    background-color: black;
    border: 0;
    font-size: 1em;
}

.pagination{
	width: 100%;
	background: white ;
    padding: 4px;
    color: black;
}
	.pagination a{
		font-size:16px;
		margin-left:5px;
		color: black;
	}
		.pagination a:hover, .pagination a.active{
			text-decoration: underline;
			color:#2b4e84;
		}


.a{color:black;}
